<div style="display: flex; flex-grow: grow; margin-left: auto; margin-top: auto">
    <app-side-nav></app-side-nav>
    <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Sr No.</th>
            <th scope="col">patient ID</th>
            <th scope="col">User Name</th>
            <th scope="col">Phone number</th>
            <th scope="col">Age</th>
            <th scope="col">Gender</th>
            <th scope="col">Department</th>
          </tr>
        </thead>
        <tbody *ngFor="let i of patientList; let j = index;">
          <tr>
            <th scope="row">{{j + 1}}</th>
            <td>{{i.patientID}}</td>
            <td>{{i.name}}</td>
            <td>{{i.phoneNo}}</td>
            <td>{{i.age}}</td>
            <td>{{i.gender}}</td>
            <td>{{i.department}}</td>
            <td class="action-link">
                <!-- <span type="button" *ngIf="!isLoggedIn" style="color:red;">Book Appointment</span>   -->
                <button type="button" (click)="deletePatient(i.name)"  *ngIf="showAdminBoard" style="color:red;">Delete</button>  
              </td>
          </tr>
        </tbody>
      </table>

</div>

